header {

    background: black;
    color: white;

    height: 5vh;
    padding: 0 2em;

    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

header a {
    color: white;
    text-decoration: none;
}

header > h1 {
    height: 100%;

    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

header > nav {
    flex: 3 1 auto;
}

header > nav > ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex: 1;
}

header > nav > ul > li {
    flex: 1 1 auto;
    display: inline-flex;
    height: 100%;
    text-align: center;

    position: relative;
}

/*header > nav > ul > li > a {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}*/

.nav-menu-item {
    font-weight: bold;

    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;

    position: relative;
}

.nav-menu-item.current {
    background: #fff;
    color: #000000;
}

.nav-sub-menu {
    background: #000000;
    border-radius: 0 0 4px 4px;

    width: 100%;
    padding: 0.25em 0;
    display: none;

    position: absolute;
    top: 2em;
}

.nav-sub-menu > .nav-menu-item:not(.current){
    color: white;
}

.nav-menu-item:hover > .nav-sub-menu {
    display: block;
}


header > nav > ul > li form > button[type="submit"] {
    cursor: pointer;
    color: inherit;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    outline: none;
    border: none;


    width: 100%;
    height: 100%;
}

    /*
    header > nav > ul > li > a:hover {
        background: white;
        color: black;
    }*/

header > nav > ul > li form > button[type="submit"]:hover {
    background: white;
    color: black;
}
