.sns-links-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {

}

.sns-links-container > article {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}