* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, "DejaVu Math TeX Gyre", "Linux Biolinum Keyboard O", Arial;
}

main {
    height: 95vh;
    display: flex;
    flex: 1;
}

article > ul {
    padding: 1em;
    list-style-type: circle;
}